@font-face {
  font-family: X;
  src: url(X-Regular.woff2);
  font-weight: normal;
}

@font-face {
  font-family: X;
  src: url(X-Bold.woff2);
  font-weight: bold;
}

:root {
    --space-0: 0;
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 20px;
    --space-4: 40px;
    --space-5: 60px; 
    --fontsize-small: .8em;
    --fontsize-normal: 1rem;
    --fontsize-big: 1.25rem;
    --fontsize-bigger: 1.5rem;
    --fontsize-huge: 2.5rem;
    --breakpoints-0: 414px;
    --breakpoints-1: 592px;
    --breakpoints-2: 670px;
    --breakpoints-3: 900px;
    --breakpoints-4: 1080px;
    --colors-primary: #004445;
    --colors-secondary: #2c786c;
    --colors-tertiary: #f8b400;
    --colors-tertiarylight: #fce199;
    --colors-background: #faf5e4;
    --colors-text: #333;
    --rounded: 4px;

}

body {
    width: 70%;
    font-family:'X', 'Helvetica', 'Arial', 'Sans-Serif';
    background-color: #faf5e4;
    margin: auto;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}

nav ul{
    margin-top: 60px;
    justify-content: flex-end;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li.push a{
    color: #004445;
    font-size: 1.5em;
}

nav ul li.push {
    margin-right: auto;
}

nav ul li.logo {
    margin: auto 8px 0px 0px;
} 

h1 {
    font-size: 2.5em;
    color: #004445;
}

h2 {
    font-size: 1.5em;
    color: #004445; 
    margin: 48px 0 0 0;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: var(--fontsize-small);
}

.header-background {
    background: #fce199;
    box-sizing: border-box;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
}

p {
    font-size: var(--fontsize-normal);
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 2px solid #f8b400;
    font-size: var(--fontsize-small);
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
    
}

a {
    text-decoration: none;
    color: #2c786c;
}

.link {
    position: relative;
    display: block;
    cursor: pointer;
    width: fit-content;
}

  .link:before, span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    top: 50%;
    margin-top: -0.5px;
    background: #2c786c;
  }

  .link:after {
    right: 2.5px;
    background: #2c786c;
    transition: width 0.6s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  .link:hover:before {
    background: #2c786c;
    width: 100%;
    transition: width 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  .link:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
  }

  .container {
      margin-top: 68px;
  }
