@font-face {
  font-family: X;
  src: url(X-Regular.woff2);
  font-weight: normal;
}

@font-face {
  font-family: X;
  src: url(X-Bold.woff2);
  font-weight: bold;
}

body {
    margin: 60px auto;
    width: 70%;
    font-family:'X', 'Helvetica', 'Arial', 'Sans-Serif';
    background-color: #faf5e4;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}

nav ul{
    justify-content: flex-end;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li.push {
    margin-right: auto;
    color: #004445;
    font-size: 1.5em;
} 

nav ul li.logo {
    margin: auto 8px 0px 0px;
} 

h1 {
    font-size: 2.5em;
    color: #004445;
}

h2 {
    font-size: 1.5em;
    color: #004445; 
}


p {
    font-size: 1.25em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 2px solid #f8b400;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
    
}

a {
    text-decoration: none;
    color: #2c786c;
    position: relative;
    display: block;
    cursor: pointer;
    width: fit-content;
}

a:active {
    color: #f8b400;
  }


  a:before, span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    top: 50%;
    margin-top: -0.5px;
    background: #2c786c;
  }

  a:after {
    right: 2.5px;
    background: #2c786c;
    transition: width 0.6s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  a:hover:before {
    background: #2c786c;
    width: 100%;
    transition: width 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  a:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
  }

  .container {
      margin-top: 68px;
  }
