@font-face {
  font-family: X;
  src: url(X-Regular.woff2);
  font-weight: normal;
}

@font-face {
  font-family: X;
  src: url(X-Bold.woff2);
  font-weight: bold;
}

:root {
    --space-0: 0;
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 24px;
    --space-4: 32px;
    --space-5: 40px;
    --space-6: 60px; 
    --fontsize-small: .8em;
    --fontsize-normal: 1rem;
    --fontsize-big: 1.25rem;
    --fontsize-bigger: 1.5rem;
    --fontsize-huge: 2.5rem;
    --breakpoints-0: 414px;
    --breakpoints-1: 592px;
    --breakpoints-2: 670px;
    --breakpoints-3: 900px;
    --breakpoints-4: 1080px;
    --colors-primary: #004445;
    --colors-secondary: #2c786c;
    --colors-tertiary: #f8b400;
    --colors-lighttertiary: #fce199;
    --colors-background: #faf5e4;
    --colors-lightbackground: #fefcf7;
    --colors-caption: #707070;
    --colors-text: #333;
    --rounded: 4px;

}

body {
    width: 70%;
    font-family:'X', 'Helvetica', 'Arial', 'Sans-Serif';
    background-color: var(--colors-background);
    color: var(--colors-text);
    margin: auto;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul{
    margin-top: var(--space-6);
    justify-content: flex-end;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: var(--space-3);
}

nav ul li.push a{
    color: var(--colors-primary);
    font-size: var(--fontsize-bigger);
}

nav ul li.push {
    margin-right: auto;
}

nav ul li.logo {
    margin: auto var(--space-2) 0px 0px;
} 

h1 {
    font-size: var(--fontsize-huge);
    color: var(--colors-primary);
}

h2 {
    font-size: var(--fontsize-bigger);
    color:var(--colors-primary); 
    margin: 48px 0 0 0;
}

h3 {
    font-size: var(--fontsize-big);
    margin: 0;
}

h4 {
    font-size: var(--fontsize-small);
}


p {
    font-size: var(--fontsize-normal);
    line-height: 1.4em;
    margin: var(--space-2) 0;
}

.intro {
    font-weight: normal;
}

.caption {
    color: var(--colors-caption);
}

.header-background {
    background: var(--colors-lighttertiary);
    box-sizing: border-box;
    display: inline-block;
    padding: var(--space-1) var(--space-2);
    border-radius: var(--space-1);
}

.card-container {
    display:  flex;
}

.card {
    background-color:var(--colors-lightbackground);
    border-radius: 4px;
    box-shadow: -1px 2px 4px rgba(0,0,0,.25), 1px 1px 3px rgba(0,0,0,.1);
    margin: var(--space-3) auto 0;
    display: flex;
    flex-direction: row;
}

.card-media {
    width: 100%;
}

.card-details {
    padding: var(--space-4) var(--space-3);
}

footer {
    margin-top: var(--space-3);
    border-top: 2px solid var(--colors-tertiary);
    font-size: var(--fontsize-small);
}

ul.posts { 
    margin: var(--space-4) auto var(--space-5); 
    font-size: var(--fontsize-bigger);
}

ul.posts li {
    list-style: none;
    
}

a {
    text-decoration: none;
    color: var(--colors-secondary);
    font-weight: bold;
}

.link {
    position: relative;
    display: block;
    cursor: pointer;
    width: fit-content;
}

  .link:before, span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    top: 50%;
    margin-top: -0.5px;
    background: var(--colors-secondary);
  }

  .link:after {
    right: 2.5px;
    background: var(--colors-secondary);
    transition: width 0.6s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  .link:hover:before {
    background: var(--colors-secondary);
    width: 100%;
    transition: width 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  .link:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
  }

  .container {
      margin-top: var(--space-6);
  }
