@font-face {
  font-family: X;
  src: url(X-Regular.woff2);
  font-weight: normal;
}

@font-face {
  font-family: X;
  src: url(X-Bold.woff2);
  font-weight: bold;
}

:root {
    --space-0: 0;
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 24px;
    --space-4: 32px;
    --space-5: 40px;
    --space-6: 60px; 
    --fontsize-normal: 1rem;
    --fontsize-big: 1.25rem;
    --fontsize-bigger: 1.5rem;
    --fontsize-huge: 2.5rem;
    --breakpoints-0: 414px;
    --breakpoints-1: 592px;
    --breakpoints-2: 670px;
    --breakpoints-3: 900px;
    --breakpoints-4: 1080px;
    --colors-primary: #004445;
    --colors-secondary: #2c786c;
    --colors-tertiary: #f8b400;
    --colors-lighttertiary: #fce199;
    --colors-background: #faf5e4;
    --colors-lightbackground: #fefcf7;
    --colors-caption: #707070;
    --colors-text: #333;
    --rounded: 4px;

}

body {
    font-family:'X', 'Helvetica', 'Arial', 'Sans-Serif';
    background-color: var(--colors-background);
    color: var(--colors-text);
    margin: 0;
}

.who {
    margin-top: var(--space-6)
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul{
    margin-top: var(--space-6);
    justify-content: flex-end;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: var(--space-3);
}

nav ul li.push a{
    color: var(--colors-primary);
    font-size: var(--fontsize-bigger);
}

nav ul li.push {
    margin-right: auto;
}

nav ul li.logo {
    margin: auto var(--space-2) 0px 0px;
} 

h1 {
    font-size: var(--fontsize-huge);
    color: var(--colors-primary);
}

.overview {
    color: var(--colors-text);
    margin-top: var(--space-3);
}

h2 {
    font-size: var(--fontsize-bigger);
    color:var(--colors-primary); 
    margin: 0;
}

h3 {
    font-size: var(--fontsize-normal);
    font-weight: normal;
    margin: 0;
}


p {
    font-size: var(--fontsize-big);
    line-height: 1.4em;
    margin: var(--space-3) 0;
}

.intro {
    font-weight: normal;
}

.sub-header {
    margin-top: var(--space-1);
    color: var(--colors-caption);
}

.header-background {
    margin: var(--space-6) 15% 0;
    width: initial;
    background: var(--colors-lighttertiary);
    box-sizing: border-box;
    display: inline-block;
    padding: var(--space-1) var(--space-2);
    border-radius: var(--space-1);
}

.card-container {
    display: grid;
}

.card {
    background-color:var(--colors-lightbackground);
    border-radius: 4px;
    box-shadow: -1px 2px 4px rgba(0,0,0,.25), 1px 1px 3px rgba(0,0,0,.1);
    margin: var(--space-3) 0 0;
    display: flex;
    flex-direction: row;
}

.card-media {
    width: 27.5%;
    margin: var(--space-3)
}
   
.card-img {
    max-width: 100%;
}

.card-details {
    width: 60%;
    padding: var(--space-4) var(--space-3);
}

footer {
    margin: var(--space-6) auto !important;
    border-top: 2px solid var(--colors-tertiary);
    font-size: var(--fontsize-normal);
}

ul.posts { 
    margin: var(--space-4) auto var(--space-5); 
    font-size: var(--fontsize-bigger);
}

ul.posts li {
    list-style: none;
    
}

a {
    text-decoration: none;
    font-weight: bold;
}

.link {
    color: var(--colors-secondary);
    position: relative;
    display: block;
    cursor: pointer;
    width: fit-content;
}

.link:after {
    content: '';
    position: absolute;
    width: 0; 
    height: 3px;
    display: block;
    margin-top: 4px;
    right: 0;
    background: var(--colors-secondary);
    transition: width .3s ease;
    -webkit-transition: width .3s ease;
}

.link:hover:after{
    width: 100%;
    left: 0;
    background: var(--colors-secondary);
  }

.button {
    display: inline-block;
    margin-top: var(--space-2);
    color:var(--colors-secondary);
    font-size: var(--fontsize-normal);
    border-color:var(--colors-secondary);
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    padding: var(--space-2);
    transition: all 0.2s linear;
}

.button:hover {
    background:var(--colors-secondary );
    color: white;
    transition: all 0.1s linear;
}

.sign {
    float: right;
}

body > * {
    width: 70%;
    margin: auto;
}

#webhero {
    margin-top: 32px;
    width: 100%;
    height: 320px;
    background: #116bb7;
    display: flex;
    flex-direction: column;
}

#webhero > svg {
    width: 500px;
    margin: auto;
}

#webhero > h1 {
    margin: auto;
    font-size: var(--fontsize-bigger);
    color: rgba(255, 255, 255, 0.3);
    font-weight: normal;
}

#h1bhero {
    margin-top: 32px;
    width: 100%;
    height: 320px;
    background: #1A3664;
    display: flex;
    flex-direction: column;
}

#h1bhero > svg {
    width: 500px;
    margin: auto;
}

#h1bhero > h1 {
    margin: auto;
    font-size: var(--fontsize-bigger);
    color: rgba(255, 255, 255, 0.3);
    font-weight: normal;
}

#harborhero {
    margin-top: 32px;
    width: 100%;
    height: 320px;
    background: #082656;
    display: flex;
    flex-direction: column;
}

#harborhero > svg {
    width: 500px;
    margin: auto;
}

#harborhero > h1 {
    margin: auto;
    font-size: var(--fontsize-bigger);
    color: rgba(255, 255, 255, 0.3);
    font-weight: normal;
}

.large-logo {
    width: 500px;
    margin: auto auto var(--space-3) auto;
}

section {
    margin-bottom: 20px;
}

section > h1 {
    font-weight: normal;
    line-height: 48px;
    margin-bottom: 20px;
}

section > img {
    width: 80%;
    margin: 28px 10% auto 10%;
}

.caption {
    text-align: center;
    font-size: var(--fontsize-normal);
    font-style: italic;
    margin-top: 0;
    color: var(--colors-caption);
}

#lockscreen {
    background: #eee;
    width: 100vw;
    height: 100vh;
    display: flex
}

#lock-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: initial;
}

#lock-container > * {
    margin: auto;
}

#input-area input {
    margin-top: 40px;
    border-radius: 4px;
    padding: 8px 12px;
    height: 24px;
    width: 120px;
    border: none;
}

#invalid-passcode {
    margin-top: 12px;
    display: none;
    color: #d32f2f;
    position: absolute;
    font-size: 14px;
}

#lock-icon {
    height: 48px;
    padding: 8px;
    border-radius: 50%;
    border: 4px solid var(--colors-primary);
}

.principles {
    font-size: var(--fontsize-big)
}

.top {
    font-weight: bold;
}